# Importing Required Libraries

In [1]:
import pandas as pd

# Reading the dataset

In [2]:
df = pd.read_csv('GFC_dataset.csv')

# Knowing the data

In [3]:
df.head(5)

,Company Name,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow
0,Microsoft,2023,211915.0,72361.0,411976.0,205753.0,87582.0
1,Microsoft,2022,198270.0,72738.0,364840.0,198298.0,89035.0
2,Microsoft,2021,168088.0,61271.0,333779.0,88657.0,76740.0
3,Telsa,2023,96773.0,14974.0,106618.0,43009.0,13256.0
4,Telsa,2022,81462.0,12587.0,82338.0,36440.0,14724.0

# Analyzing trends with pandas:

In [4]:
# Group the data by Company Name and calculate the Revenue Growth % for each company
df['Revenue Growth (%)'] = df.groupby(['Company Name'])['Total Revenue'].pct_change() * 100

In [5]:
# Group the data by Company Name and calculate the Net Income Growth % for each company
df['Net Income Growth (%)'] = df.groupby(['Company Name'])['Net Income'].pct_change() * 100

In [6]:
# Group the data by Company Name and calculate the average Total Revenue and Net Income for each company
grouped_by_company = df.groupby('Company Name').agg({'Total Revenue': 'mean', 'Net Income': 'mean'})

# Print the grouped data
print(grouped_by_company)

              Total Revenue    Net Income
Company Name
Apple         381143.333333  97159.333333
Microsoft     192757.666667  68790.000000
Telsa          77352.666667  11068.333333

# Financial Summary

In this analysis, we had three companies like Microsoft,Telsa, Apple for the fiscal years of 2023,2022,2021.

# Revenue Growth

For Microsoft and Telsa there is an increase in the revenue growth over the years, ever as Apple has increase and then decrease in their revenue growth.